<!-- ORGANIZATION LEVEL -->
<div ng-if="ctrl.selectedNode == null || ctrl.selectedNode.type=='organization' ">

    <div ng-include src="'views/admin/analytics/marks-org.html'"></div>

</div>

<!-- DEPARTMENT LEVEL -->
<div class="dept_view" ng-if="ctrl.selectedNode != null && ctrl.selectedNode.type=='department' ">

    <div ng-include src="'views/admin/analytics/marks-dept.html'"></div>

</div>

<!-- YEAR LEVEL -->
<div ng-if="ctrl.selectedNode != null && ctrl.selectedNode.type=='year' ">

    <div ng-include src="'views/admin/analytics/marks-year.html'"></div>

</div>


<!-- YEAR LEVEL -->
<div ng-if="ctrl.selectedNode != null && ctrl.selectedNode.type=='batch' ">

    <div ng-include src="'views/admin/analytics/marks-batch.html'"></div>

</div>