<div class="sidebar-inner c-overflow">


    <div class="profile-menu-override">

        <a>
            <div class="profile-info">Rahul Dambre</div>
        </a>

        <img class="img-circle" src="img/profile-pics/2.jpg" alt="">

        <a class="role-info">
            <div class="profile-info">Chief</div>
        </a>


        <!--<ul class="main-menu">
            <li><a href="profile-about.html"><i class="md md-person"></i> View Profile</a></li>
            <li><a href=""><i class="md md-settings-input-antenna"></i> Privacy Settings</a></li>
            <li><a href=""><i class="md md-settings"></i> Settings</a></li>
            <li><a href=""><i class="md md-history"></i> Logout</a></li>
        </ul>
        -->

    </div>


    <ul class="main-menu">
        <li data-ui-sref-active="active"><a data-ui-sref="chief-dashboard"><i
                class="md md-home"></i> Home</a></li>

        <li data-ui-sref-active="active"><a data-ui-sref="chief-listOrg"><i
                class="md md-account-balance"></i> Organizations</a></li>


        <li data-ui-sref-active="active"><a data-ui-sref="chief-createOrg"><i
                class="md md-thumb-up"></i> Create Organization</a></li>



    </ul>
</div>